<%= render "layouts/header" %>


<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Prix</th>
      <th>Description</th>
      <th>Photo</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.price %>€</td>
        <td><%= product.description %></td>

        <td><%= link_to 'Voir', shop_path(product) %></td>



        <td>

        
          <%= form_for @order_item, remote: true  do |f|%>
          <%= f.hidden_field :product_id, :value => product.id %>
          <%= f.number_field :quantity, :value => 1, :min =>  1%>
          <%= f.submit "Add to Card "%>
          <% end %>
        </td>
       
      </tr>
    <% end %>
  </tbody>
</table>
<br>


<div class="container main-section">
<div class="row">
  <div class="col-lg-12 pb-2">
    <h4>Your Shoping Cart</h4>
  </div>
  <div class="col-lg-12 pl-3 pt-3">
    <table class="table table-hover border bg-white">
        <thead>
            <tr>
              <th>Title</th>
              <th>Price</th>
              <th>Subtotal</th>
              <th style="width:10%;">Quantity</th>
              <th>Action</th>
            </tr>
        </thead>
        <tbody>
        <% @products.each do |product| %>
            <tr>
             
              <td>
             
                <div class="row">
                  <div class="col-lg-10">
                  <h3 class="nomargin"><%= product.title %></h3>
                </div>
                  <div class="col-lg-2 Product-img">
                  <%= image_tag(product.image, style:'width:100%') if product.image.attached?  %>
                  </div>
                  
                </div>
                </td>
                <td><%= product.price %> €</td>
              
               
                <td>12,000</td>
                <td class="actions" data-th="" style="width:10%;">
                <%= form_for @order_item, remote: true  do |f|%>
                  <%= f.hidden_field :product_id, :value => product.id %>
                  <%= f.number_field :quantity, :value => 1, :min =>  1%>
               						
                </td>
                
              </td> 
              <td>
             
              <%= f.submit "Add to Card "%>
              <% end %>
            </td>
           </tr>
           <% end %>
        <tfoot>
        <tr >
          <td><a href="#" class="btn btn-warning text-white"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
          <td colspan="2" class="hidden-xs"></td>
          <td  class="hidden-xs text-center" style="width:10%;">
            <div id="card">
              <%= render 'cards/card'%>
            </div>
          </td>
          <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
        </tr>
      </tfoot>
      
    </table>
  </div>
</div>
</div>



